.example-spacer {
    flex: 1 1 auto;
  }

  .main-body{
    padding-top: 20px;
    max-width: 1238px;
    margin: 0 auto;
  }

  mat-form-field{
    width: 100%;
  }

  .action{
    display: flex;
    gap: 5px;
  }
